.md-grid {
  max-width: none;
}

.md-main__inner {
  margin-top: none;
}

.md-footer-meta {
  background-color: color(srgb 0.2511 0.3187 0.7114);
}

.md-banner {
  background-color: #ffcc00;
  color: #cc3300;
}

.mbash {
  background-color: black;
  color: #00FF88;
  font-size: 14px ;
  font-family: consolas, monospace;
  display: inline-block;
} 

.md-content {
  --md-typeset-a-color: #09bfde;
}

